#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  background: $color__secondary;
  color: $color__text--white;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
  display: none;

  @include mappy-bp(tablet-landscape) {
    display: block;
  }

  &:hover {
    background: lighten($color__secondary, 5%);
  }
  &.show {
    opacity: 1;
  }
}

#content {
  height: 2000px;
}
