
.node-preview-container {

  .node-preview-backlink{
    background-color: $blue;
    padding: .5rem;
    color: white;
    text-transform: uppercase;
    font-size: .6rem;
    letter-spacing: .0223em;
    @extend %animate;

    &:hover{
      background-color: darken($blue, 2%);
    }
  }

  .form-item-view-mode{
    display: none;

  }
}

