h2.styleguide {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $color__primary;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: $system-font-family !important;
}

.styleguide__content{


}
