nav.tabs {
  margin-top: .5rem;
  margin-bottom: 1rem;
  @extend %cf;

  li {
    margin: 0;
    padding: 0;

    a {
      bottom-bottom: 0 !important;
      color: palette(tabs, active);
      display: block;
      font-size: .6rem;
      padding: .2rem .6em;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1px;
      border: 2px solid palette(tabs, bg);
      background-color: white;

      &:hover {
        background-color: palette(tabs, bg);
        bottom-bottom: 0 !important;
        color: white;
      }
    }
  }

  li {
    &.is-active a {
      background-color: palette(tabs, bg);
      color: white;
    }
  }

  ul.tabs.primary {
    // background-color: palette(tabs, bg);
    margin-bottom: 0;
    float: left;
    padding-left: 1rem;
    @include mappy-bp(tablet-portrait) {
      float: right;
      // padding-right: 1rem;
    };
  }

  ul.tabs.secondary {
    // background-color: palette(tabs, bg);
    clear: both;
    float: left;
    padding-left: 1rem;
    margin-top: .5rem;
    @include mappy-bp(tablet-portrait) {
      float: right;
      // padding-right: 1rem;
    };

    a {
      font-size: .6rem;
      padding: .1rem .4;
      font-weight: 500;

    }
  }
}
