
.picker--focused .picker__day--highlighted,
.picker__day--highlighted:hover {

  //dafault date picker
  .ui-datepicker {
    font-family: $base-font-family;
    border-radius: 0;
  }

  .ui-datepicker-header {
    border-radius: 0;
  }

  .ui-widget-header {
    background: none;
    background-color: $color__red;
    border: 0;
  }

  .ui-state-default,
  .ui-widget-content .ui-state-default {
    background: none;
    background-color: $color__yellow;
  }

  .ui-state-highlight {
    // border: 1px solid $yellow !important;
  }
}
