.block--tabs {
  text-align: right;

  .block__content ul {
    @extend %cf;

    margin-top: .5rem;
    margin-bottom: .5rem;

    li {
      display: inline-flex;

      margin: 0;
      padding: 0;

      list-style: none;

      a {
        display: block;

        padding: .2rem .6em;

        letter-spacing: 1px;
        text-transform: uppercase;

        color: $color__white;
        border: 2px solid $color__black;
        background-color: $color__black;

        font-family: $system-font-family !important;
        font-size: .7rem;
        font-weight: 500;

        bottom-bottom: 0 !important;

        &:hover,
        &:focus {
          color: $color__black;
          background-color: $color__yellow;

          bottom-bottom: 0 !important;
        }
      }
    }

    li {
      &.is-active a {
        color: $color__black;
        background-color: $color__yellow;
      }
    }

    ul.tabs.primary {
      @include mappy-bp(tablet-portrait) {
        float: right;
      }

      float: left;

      margin-bottom: 0;
      padding-left: 1rem;
    }

    ul.tabs.secondary {
      @include mappy-bp(tablet-portrait) {
        float: right;
      }

      float: left;
      clear: both;

      margin-top: .5rem;
      padding-left: 1rem;

      a {
        padding: .1rem .4;

        font-size: .6rem;
        font-weight: 500;
      }
    }
  }
}
