// @file
// Styles for messages.

#block-uor-local-tasks{
  ul{
    padding: 0;
  }
}

.messages {
  margin-bottom: vr(1);
  background-color: #ecf6fa;
  color: #424242;
  overflow: hidden;
  padding: 20px 20px 20px 50px;
  position: relative;
  word-wrap: break-word;

  a {
    color: #bcdeee;
    font-weight: 600;
    text-decoration: none;
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
}

.messages__content {
  > *:last-child {
    margin-bottom: 0;
  }
}

.messages--error {
  background-color: #ffe6e5;

  &:before {
    background-image: url('../images/help-messages/messages-error.png');
  }
}

.messages--status {
  background-color: #eff8e6;

  &:before {
    background-image: url('../images/help-messages/messages-status.png');
  }
}

.messages--warning {
  background-color: #fcf8e3;
  border-color: #faf2cc;

  &:before {
    background-image: url('../images/help-messages/messages-warning.png');
  }
}
