// @file
// Useful Global styles that don't fit anywhere else


//IE hack to remove border from linked img
a img{
  border: 0px;
}

// Making all images responsive
img {
  display: block;
  height: auto;
  max-width: 100%;
}
