.more-link{
  margin-top: vr(.25);
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: $letter-spacing;

  a{
    padding-right: vr(.5);
    display: inline-block;
    color: $color__blue--dark;
    font-weight: bold;
  }
}
