// Naming Convention for colors should be:
//
// $color__colorname--brightness
// or for specific instances....
// $color__element--brightness
//
// example: $color__blue--dark: #00000;

// Primary Colors
  $color__black: #000000;
  $color__white: #FFFFFF;
  $color__smokey-white: #F5F4F0;
  $color__grey--light: #3C3C3C;
  $color__grey--medium: #717074;
  $color__blue--light: #E5EFF4;
  $color__blue--dark: #036091;
  $color__red: #CF0031;
  $color__yellow: #FFB81C;

// Navigation Colors
$color__nav--hover: $color__grey--light;
$color__nav--active: $color__grey--light;
$color__nav--bg: #222222;
$color__nav--active-border: $color__red;
