
//PRIMARY
$color__primary:                 #00457c;
$color__secondary:               #007f60;
$color__trietary:                #05a5d9;

$color__support--orange:         #f7941d;
$color__support--magenta:        #ee3d96;
$color__support--lime:           #62bd46;


$color__bkg:                     #F8F8F8;
$color__share_bg:                #e2eef2;
$color__footer:                  #51515B;

//TEXT
$color__text--dark:              #111111;
$color__text--medium:            #424242;
$color__text--light:             #4D4D4D;
$color__text--white:             #FFFFFF;
$color__text--description:       #4D4D4D;


//FORMS
$color__input-border--normal:    #CDCDCD;
$color__input-border--active:    #CDCDCD;
$color__input-border--focus:     #CDCDCD;
$color__input-bkg--normal:       #CDCDCD;

$color__fieldset-border--normal: #CDCDCD;
$color__fieldset-bkg--normal:    #CDCDCD;

$color__submit-border--normal:   #007F61;
$color__submit-bkg--normal:      #007F61;

//PASSWORD indicator
$color__password--weak:          #ff645c;
$color__password--fair:          #8a6d3b;
$color__password--good:          #2F90B0;
$color__password--strong:        #71b02f;


//ERROR MESSAGES
$color__message--status:         #71b02f;
$color__message--warning:        #8a6d3b;
$color__message--error:          #ff645c;


//PROGRESS BAR
$color__progress-bar_border:     #004174;
$color__progress-bar_bkg:        rgba(0, 65, 116, .1);
$color__progress-bar_bar:        #004174;

//TABLES
$color__table--border:           #CCCCCC;


//SOCIAL MEDIA
$color__brand--twitter:          #55ACEE;
$color__brand--facebook:         #3B5998;
$color__brand--google:           #DD4B39;
$color__brand--linkedin:         #0976B4;

//DATE PICKER
$color__date-picker--bkg:        #FAFAFA;
$color__date-picker--header:     #EEEEEE;

$color__tab--normal:             #2a414f;
$color__tab--bkg:                #2e323d;
$color__tab--active:             #2a414f;
$color__tab--hover:              #45405e;

//OWL IMAGE SLIDER
$color__slider--normal:           #CDCDCD;
$color__slider--active:           #4D4D4D;

//OWL VIDEO SLIDER
$color__video--normal:           #CDCDCD;
$color__video--active:           #4D4D4D;

//ACCORDION
$color__accordion-border--normal: #CDCDCD;



// Buttons

$color__button--orange: #f0923f;
$color__button--blue: #003777;
