

// ==========
// ADD-CONTEXT
// -----
// Adds current context to the $contexts map that is used
// to store all contexts for all susy items for its children
//
// USAGE:
// -----
// If parent context was previously declared,
// use with either nested or susy-breakpoint:
//
// .no-parent {
//   @include susy-breakpoint(600px, 9) {
//     @include add-context(content, med, 6)
//   }
// }
//
// If parent context was declared previously,
// use with get-context:
//
// .has-parent {
//   @include get-context(content, med) {
//     @include add-context(gallery, med, 3);
//   }
// }
// ==========


/// @author Vova Skok
/// @content Styles which go inside of chosen breakpoint
/// @throw "Invalid breakpoint `#{$name}`"
/// @example
///  @include breakpoint(small);
/// @output
/// `@media (min-width: 480px) {
///		// Styles
/// }`
/// @require {variable} $breakpoints



@mixin add-context($layout, $breakpoint, $span, $location: null) {
  @if type-of($location) == "string" {
    $contexts: _susy-deep-set($contexts, $layout, $breakpoint, $span of susy-get(columns) susy-get(gutter) $location) !global;
  } @else {
    $contexts: _susy-deep-set($contexts, $layout, $breakpoint, $span of susy-get(columns) susy-get(gutter) at $location) !global;
  }
}

// ==========
// GET-CONTEXT
// -----
// Gets the context from the $contexts map and include a
// nested wrapper to use with the contents of the context.
//
// Usage:
// ------
//
// .test {
//   @include breakpoint(large) {
//      @include get-context(content,large) {
//        @include span(6);
//      }
//   }
// }
//
// ==========
@mixin get-context($keys...) {
  $context: get-context($keys...);
  @include nested($context) {
    @content;
  }
}


/// Clearfix for IE8 & above
/// @source http://css-tricks.com/snippets/css/clear-fix/
@mixin cf {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

@mixin cf-important {
  &::after {
    clear: both !important;
    content: '' !important;
    display: table !important;
  }
}


/// Image replacement mixin
/// Replaces text with background images.
/// Requires inline-block or block display
/// @source http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
@mixin hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}


/// Makes element invisible!
/// *Remains visible for accessibility*
/// @source http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin is-invisible {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}



/// Turns off the element-invisible effect.
@mixin is-visible {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}



/// Changes input Placeholder color
@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    /* Firefox 18- */
    color: $color;
  }
  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}


/// Changes background color and text color when text is selected
@mixin selection($bgColor, $textColor) {
  &::selection {
    background: $bgColor;
    color: $textColor;
  }
}


///Shapes mixin: circle
@mixin circle($width) {
  width: $width;
  height: $width;
  border-radius: 100%;
}

///Shapes mixin: triangle
@mixin triangle($dir, $size, $color) {
  border: $size transparent solid;
  @if $dir == "top" or $dir == "up" {
    border-bottom-color: $color;
  } @else if $dir == "right" or $dir == "after" {
    border-left-color: $color;
  } @else if $dir == "bottom" or $dir == "down" {
    border-top-color: $color;
  } @else if $dir == "left" or $dir == "before" {
    border-right-color: $color;
  }
}


/// Keep the footer at the bottom of the site
/// @example
///   @include sticky-footer(20em, "#site", "#push", "#footer");
/// @source http://codepen.io/zoerooney/pen/vtdFw
/// @author Zoe Rooney
@mixin sticky-footer($footer-height, $wrapper-selector: unquote("#site"), $container-selector: unquote("#wrap-all"), $footer-selector: unquote("#footer")) {
  html, body {
    height: 100%;
  }
  body {
    margin: 0;
    padding: 0;
  }
  #{$wrapper-selector} {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -$footer-height;
    #{$container-selector} {
      padding: 0 0 $footer-height 0;
    }
  }
  #{$footer-selector} {
    height: $footer-height;
  }
}

/// Generic heading styles helpers
/// @group helpers

@mixin heading {
  text-transform: uppercase;
  font-size: 1.4rem;
  display: block;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  font-weight: 500;
}


/// Generic label styles helpers
/// @group helpers

@mixin label{
  text-transform: uppercase;
  font-size: .8rem;
  font-family: $font-secondary;
}


/// Generic date styles helpers
/// @group helpers
@mixin date{
  font-weight: 300;
  font-size: .8rem;
}

/// For adding font icons to elements using CSS pseudo-elements
/// @author Jayden Seric
/// @source http://jaydenseric.com/blog/fun-with-sass-and-font-icons
/// @example
///   @include icon(both) {
///     color: gray;
///    }
///
///   @include icon(before, profile, false) {
///    margin-right: 10px;
///   }
///
///   @include icon(after, address, false) {
///     margin-left: 10px;
///   }
///   a {
///     @include icon;
///   }

@mixin icon($position: before, $icon: false, $styles: true) {
  @if $position == both {
    $position: 'before, &:after';
  }
  // Either a :before or :after pseudo-element, or both, defaulting to :before
  &:#{$position} {
    @if $icon {
      // A particular icon has been specified
      content: "#{map-get($icons, $icon)}";
    }
    @if $styles {
      // Supportive icon styles required
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-family: 'gob-font';
    }
    // Include any extra rules supplied for the pseudo-element
    @content;
  }
}


// @file
// Accessibility mixins

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

@mixin visually-hidden-important {
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  width: 1px !important;
  word-wrap: normal !important;
}

// Turns off the visually-hidden effect.
@mixin visually-hidden-off {
  clip: auto;
  height: auto;
  overflow: visible;
  position: static;
  width: auto;
}

@mixin visually-hidden-off-important {
  clip: auto !important;
  height: auto !important;
  overflow: visible !important;
  position: static !important;
  width: auto !important;
}

// Makes an element visible when focused if it also has the visually-hidden styles.
@mixin focusable {
  &:active,
  &:focus {
    @include visually-hidden-off;
  }
}

@mixin focusable-important {
  &:active,
  &:focus {
    @include visually-hidden-off-important;
  }
}

// Makes an element completely hidden, visually and to screen readers.
@mixin hidden {
  display: none;
}

@mixin hidden-important {
  display: none !important;
}

// Makes an element completely hidden, visually and to screen readers, but
// maintains its layout.
@mixin invisible {
  visibility: hidden;
}

@mixin invisible-important {
  visibility: hidden !important;
}
