/// Site variables

$letter-spacing: 2px;

$font-primary: 'Apex New', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font-secondary: 'Apex Rounded', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$content-max-width: 38em; // Between 22.5 and 37.5em

$sidebar-blocks-header: .8rem;

//----

$font-family: 'Rubik', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$color1: hsla(334%, 100%, 3%, 1);
$color2: hsla(205%, 71%, 18%, 1);
$color3: hsla(48%, 93%, 45%, 1);
$color4: hsla(174%, 9%, 22%, 1);
$color5: hsla(330%, 2%, 18%, 1);
$black: rgba(16, 0, 7, 1);
$blue: rgba(13, 50, 77, 1);
$yellow: rgba(222, 180, 8, 1);
$green: rgba(52, 62, 61, 1);
$blackish: rgba(47, 45, 46, 1);
$date: #727272;
