/// Configuration colours map
/// @author Adrian Rylski
/// @group map
/// @type map
/// @example
/// 	.test {
///   	background-color: palette(global, white);
/// 	}

$palettes:                   (
        global:              (
                grey-dark:   #222222,
                grey-bis:    #666666,
                grey-medium: #CCCCCC,
                grey-light:  #EEEEEE,
                grey-pale:   #FAFAFA,
                grey-bg:     #F7F7F5,
                white:       #FFFFFF,
        ),

        blue:                (
                dark:        #191F3E,
                medium:      #436982,
                light:       #266fa3,
                lightest:    #A5B9CC,
                pale:        #FFFFFF,
                bg:          #FFFFFF,
        ),

        green:               (
                dark:        #507b2c,
                medium:      #ACD58A,
                light:       #DAEACA,
                lightest:    #F3F6ED,
                pale:        #FFFFFF,
                bg:          #FFFFFF,
        ),

        orange:              (
                dark:        #F9A23F,
                medium:      #FCB66B,
                light:       #FECB94,
                lightest:    #FFEBD6,
                pale:        #FFFFFF,
                bg:          #FFFFFF,
        ),

        indicator:           (
                violet:      #884FA3,
                blue:        #4275BC,
                red:         #A82D1E,
                green:       #50813F,
                bg:          #eeeeee,
        ),


        tabs:                (
                bg:          #2e323d,
                normal:      #2a414f,
                hover:       #45405e,
                active:      #2a414f,
                description: #dbdbdb,
        ),

        forms:               (
                bg:          #2e323d,
                border:      #cdcdcd,
                focus:       #ed1c2e,
                error:       #ed1c2e,
        ),

        text:                (
                light:       #637381,
                medium:      #454F5B,
                dark:        #212B35,
                description: #454F5B,
        ),

        messages:            (
                ok:          rgba(92, 187, 70, .5),
                error:       rgba(237, 28, 46, .5),
                warning:     rgba(253, 183, 39, .5),
        ),

        brands:              (
                twitter:     #55ACEE,
                facebook:    #3B5998,
                google:      #DD4B39,
                linkedin:    #0976B4,
        ),
);

///TABS
///Colours for primary tabs

$tabs-primary--bacground__normal:   orange;
$tabs-primary--border__normal:      green;

///Colours for secondary tabs

$tabs-secondary--border:       red;
