html,
body{
  height: 100%;
}

html {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  //Basic type set
  font-family: $base-font-family;
  color: $color__black;
  margin: 0;
}

a{
  color: $color__black;
  font-weight: bold;

  &:hover,
  &:focus{
    color: $color__red;
  }
}

ul,
ol{
  padding: 0 2rem;
}

.l-main li{
  margin-bottom: 1rem;
}

hr {
  display: block;
  border-color: $color__black;
}

// Setting bold based on custom font
b,
strong {
  font-weight: 600;
}

///Resetting paragraph margins
p + p{
  margin-top: vr(.75);
}

///Use Apex Rounded for all the headings and margin correctins
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: vr(1); // 1 baseline
  margin-bottom: vr(.25); // .5 baselines
}

///H1 Styles
.h1,
h1 {
  @include typi('h1');
  color: $color__blue--dark;
}

///H2 Styles
.h2,
h2 {
  @include typi('h2');
  font-weight: 500;
}

///H3 Styles
.h3,
h3 {
  @include typi('h3');
  font-weight: 500;
}

///H4 Styles
.h4,
h4 {
  @include typi('h4');
  font-weight: 500;
}

///H5 Styles
.h5,
h5 {
  @include typi('h5');
  font-weight: 500;
}

///H6 Styles
.h6,
h6 {
  @include typi('h6');
  font-weight: 500;
}


//
// Extra Typography Classes
//

// Accessible keyboard focus (with JS)
.keyboard-focus input,
.keyboard-focus select,
.keyboard-focus button{
  &:hover,
  &:focus{
    border: 2px solid $color__red;
  }
}


//
// Misc fixes / enhancements
//

// links in paragraph or list item styles
.l-main p a,
.l-main li a {
  text-decoration: none;
  border-bottom: 3px solid $color__red;

  &:hover {
    color: $color__red;
  }
}

// Removing link styles from contextual links
.contextual-links a {
  border-bottom-color: transparent !important;

  &:hover {
    border-bottom-color: transparent !important;
  }
}

// IE hack to remove border from linked img
a img{
  border: 0px;
}

// Making all images responsive
img {
  display: block;
  height: auto;
  max-width: 100%;
}

// IE hack to remove border from linked img
a img{
  border: 0px;
  outline: 0;
}
