

html {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  //Basic type set
  font-family: $base-font-family;
  color: $color__text--dark;
  margin: 0;
}

body.adminimal-admin-toolbar{
  margin-top: 39px;
}

//IE hack to remove border from linked img
a img{
  border: 0px;
}

.more-link{
  margin-top: vr(.25);
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: $letter-spacing;


  a{
    padding-right: vr(.5);
    display: inline-block;
    color: $color__primary;
    font-weight: bold;

    &:after{
      content: ' ';
      width: 10px;
      height: 10px;
      display: inline-block;
      background-image: url(../images/arrows/icons__arrow—link.svg);
      background-repeat: no-repeat;
      background-size: 10px 10px;
      margin-left: .25rem;
    }
  }
}


///Content link styles
.l-main a {
  text-decoration: none;
  color: $color__primary;
  border-bottom: 1px dotted $color__primary;
  border-bottom: 1px solid transparent;
  @extend %animate;

  &:hover {
    border-bottom: 1px solid $color__primary;
  }
}

///Removing link styles from contextual links
.contextual-links a {
  border-bottom-color: transparent !important;

  &:hover {
    border-bottom-color: transparent !important;
  }
}

///Making all images responsive
img {
  display: block;
  height: auto;
  max-width: 100%;
}

hr{
    display: block;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: $color__primary;
}


///Setting bold based on custom font
b,
strong {
  font-weight: 500;
}

///NEW marker styles
.marker {
  font-weight: 500;
}

///Pushing lists inside
ol li,
ul li {
  // margin-bottom: vr(.25);
}


li {
  list-style-position: inside;
  // text-indent: -25px;
  // padding-left: 25px;
}

///Hide accessibly h1 on the homepage
.page-title {
  .path-frontpage & {
    // @include is-invisible;
  }
}

///Use Apex Rounded for all the headings and margin correctins
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: vr(1); // 1 baseline
  margin-bottom: vr(.25); // .5 baselines
}

///Resetting paragraph margins
p + p{
  margin-top: vr(.75);
}

h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 0;
}


///H1 Styles
.h1,
h1 {
  @include typi('h1');
  color: $color__primary;
}

///H2 Styles
.h2,
h2 {
  @include typi('h2');
  font-weight: 500;
}

///H3 Styles
.h3,
h3 {
  @include typi('h3');
  font-weight: 500;
}


///H4 Styles
.h4,
h4 {
  @include typi('h4');
  font-weight: 500;
}

///H5 Styles
.h5,
h5 {
  @include typi('h5');
  font-weight: 500;
}

///H6 Styles
.h6,
h6 {
  @include typi('h6');
  font-weight: 500;
}