

// Fonts
$system-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, sans-serif;
// $base-font-family: Verdana, Lucida, Arial, Helvetica, sans-serif;
$base-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, sans-serif;

$monospace-font-family: Consolas, 'Menlo', 'Liberation Mono', 'Courier New', monospace, sans-serif;

///Initializing Typi library
@include typi-init;

///Perfect fourth
$ms-ratio: 1.333;

$letter-spacing: 2px;
